
@media screen and (max-width: 360px) {
	#content-1, #content-2, #content-4,  {
		height: 640px;
	}
	#picture{
		height:640px;
		background-repeat: no-repeat;
		background-size: cover;
	}

	aside {
		display: none;
	}

	#sidebar{
		display: none;
	}
 }


html, body {
	height:100%;
}



/*div{
	border: 1px solid red;
}*/

aside {
	z-index: 1;
	float:left;
	overflow: hidden;
	position: fixed;
	top: 0px;
	width: 48px;
	left: 0px;
	bottom: 0px;
	/*background: #7bcde0;*/
	/*background: -moz-linear-gradient(top, #7bcde0 0%, #7be3cd 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bcde0), color-stop(100%, #7be3cd));
	background: -webkit-linear-gradient(top, #7bcde0 0%, #7be3cd 100%);
	background: -o-linear-gradient(top, #7bcde0 0%, #7be3cd 100%);
	background: -ms-linear-gradient(top, #7bcde0 0%, #7be3cd 100%);
	background: linear-gradient(to bottom, #7bcde0 0%, #7be3cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7bcde0', endColorstr = '#7be3cd', GradientType = 0);*/
	background-color: rgba(123,205,224,0.2);
}

aside div{
	height: 100%;
}

aside ul {
	display: block;
	width: 100%;
	padding-top: 300px;
	padding-left: 16px;
}

aside ul li {
	display: block;
	margin-right: 20px;
	padding top: 30px;
	padding-bottom: 30px;
	opacity: 1;
}

.fa{
color: white;
opacity: 0.9;
}

.col-md-6{
	height: 100%;
	background-color: blue;
	color: white;
	text-align: center;
	overflow: hidden;
}

#content-1, #content-2, #content-4{
	height:95%;
}

#picture{
	background-image: url("http://i.imgur.com/qD7neEa.jpg");
	/*background-image: url(images/l06G9tj.jpg);*/ 
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
#content{
	background-color: #111111;
    height:100%;
}
#name{
	font-size: 50px;
	margin-top: 5em;
	font-family: 'Open Sans', sans-serif;
}
.info{
	margin:3em;
	font-family: 'Open Sans', sans-serif;
}
#exp-chart{
	height:100%;
	background-color: #258786;
	border: 1px solid red;
}
.resume-content {
	color: white;
	margin: 0 auto;
	padding-left: 100px;
}


#resume{
	height:100%;
	background-color: #258786;
	/*border: 1px solid black;*/
}
#title-skills{
	height: 10%;
	text-align: center;
	background-color: #258786;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
}
#experience{
	height:100%;
	background-color: #258786;
	/*border: 1px solid black;*/
}
#education{
	height:100%;
	background-color: #258786;
	/*border: 1px solid black;*/
	text-align: left;
}
.resume-list{
	list-style-type: none;
	text-align: left;
	padding-left: 0px;
}
.resume-items{
	text-align: left;
	list-style-type: none;
	padding-left: 0px;
}
#title-portfolio{
	height: 5%;
	text-align: center;
	background-color: #D3E7E6;
}
#content-3{
	height:45%;
	background-color: #D3E7E6;
}	
.project{
	width: 200px;
	height: 250px;
	background-color: #111111;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}
#project-holder{
	margin-left: 5%;
}
#title-contact{
	height:5%;
	text-align: center;
	background-color: #111111; 
}
#content-5{
	height:35%;
	background-color: #111111; 
}

#solar-system{
	height: 100%;
	width: 100%;
	border: 1px solid red;
}
#sun {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 125px;
    width: 125px;
    margin-top: -100px; 
    margin-left: -100px;

    border-color: orange;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;

    box-shadow: 0 0 25px brown;
}

#planet1{
	position: absolute;
	top:210px;
	left:200px;
	border-color: sienna;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;

}

#planet1-orbit {
	position: absolute;
    top: 435px;
    left: 435px;

    width: 280px;
    height: 280px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: solid;
    border-color: #111111;
    border-radius: 50%;
    
     -webkit-animation: spin-right 10s linear infinite;
     -moz-animation: spin-right 10s linear infinite;
      -ms-animation: spin-right 10s linear infinite;
       -o-animation: spin-right 10s linear infinite;
          animation: spin-right 10s linear infinite;
}

#earth {
    /* Style your earth */
    position: absolute;
    top: 5%;
    left: 5%;
    border-color: steelblue;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    height: 80px;
}

#earth-orbit {
    /* For Section #2 */
    position: absolute;
    top: 48.5%;
    left: 49.5%;

    width: 450px;
    height: 450px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: solid;
    border-color: #111111;
    border-radius: 50%;
    
    -webkit-animation: spin-right 13s linear infinite;
     -moz-animation: spin-right 13s linear infinite;
      -ms-animation: spin-right 13s linear infinite;
       -o-animation: spin-right 13s linear infinite;
          animation: spin-right 13s linear infinite; 
}

#planet2{
	position: absolute;
    top: 0%;
    left: 24%;
    height: 65px;
}

#planet2-orbit {
    /* For Section #2 */
    position: absolute;
    top: 37%;
    left: 39%;

    width: 650px;
    height: 650px;
    margin-top: -250px;
    margin-left: -250px;

    border-width: 2px;
    border-style: solid;
    border-color: #111111;
    border-radius: 50%;
    
    -webkit-animation: spin-right 13s linear infinite;
     -moz-animation: spin-right 13s linear infinite;
      -ms-animation: spin-right 13s linear infinite;
       -o-animation: spin-right 13s linear infinite;
          animation: spin-right 13s linear infinite; 

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}